site_name: Understand and Use Home Assistant Statistics

docs_dir: docs

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js
  - javascripts/mermaid.js

plugins:
  - search

nav:
  - Home: index.md
  - Statistics Documentation:
      - Overview: doc/overview.md
      - Part 1 - Foundational Concepts: doc/part1_fundamental_concepts.md
      - Part 2 - Statistics Generation: doc/part2_statistics_generation.md
      - Part 3 - Working with Statistics : doc/part3_working_with_statistics.md
      - Part 4 - Best Practices and Troubleshooting: doc/part4_practices_troubleshooting.md
      - Part 5 - Find & Fix Statistics Errors: doc/part5_find_fix.md
      - Appendix 1 - Mysterious Table Fields: doc/apdx1_stat_fields.md
      - Appendix 2 - Statistics domains: doc/apdx2_stat_domains.md
      # - Appendix 3 - Units of Measurement: doc/apdx3_set_units.md
      # - Appendix 4 - Change Unit of Measurement: doc/apdx4_change_units.md
      - Quick Reference Guide: doc/quick_reference_guide.md
      - Glossary: doc/glossary.md
      - References: doc/references.md
  - SQL Examples:
      - Overview: sql/sql_overview.md
      - States: sql/sql_states.md
      - Statistics: sql/sql_statistics.md
      - Errors: sql/sql_errors.md
      - Tips: sql/sql_tips.md

not_in_nav: |
  /doc/apdx3_set_units.md
  /doc/apdx4_change_units.md
  /sql/sql_python.md

markdown_extensions:
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true
